/* frontend/src/components/PersonalDetails.css */
.personal-details {
  display: flex;
  flex-direction: column;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
